%font-arial-regular {
  font-family: Arial, sans-serif;
  font-weight: normal;
}

%font-arial-bold {
  font-family: Arial, sans-serif;
  font-weight: bold;
}

%font-times_new_roman-regular {
  font-family: "Times New Roman", sans-serif;
  font-weight: normal;
}

%font-times_new_roman-bold {
  font-family: "Times New Roman", sans-serif;
  font-weight: bold;
}